[Unit]
Description=DefenderBot Spring Boot Service
After=network.target

[Service]
Type=simple
User=defenderbot
WorkingDirectory=/opt/defenderbot
Environment=JAVA_OPTS=
ExecStart=/usr/bin/java $JAVA_OPTS -jar /opt/defenderbot/defenderbot.jar
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
